.nav-bar{
    background-color: #17496C;
    display: flex;
    justify-content: space-between;
    float: right;
    align-content: space-between;
}

.menu-spacer {
    flex: 1 1 auto;
  }

.SubNav{
    justify-content: right;
}

span {
    padding-right: 1rem;
}

.Logo{
    margin-top: 125px;
    /*left: 0%;
    right: 81.65%;
    top: 0.5%;
    bottom: -0.18%;
    transform: rotate(-3.74deg);*/
    z-index: 2;
}

.Logo2{
    margin-top: 125px;
    left: 0%;
    right: 81.65%;
    top: 0.5%;
    bottom: -0.18%;
    transform: rotate(-3.74deg);
    z-index: 2;
    position: relative;
    float: right;
}