<div style="height: 80vh;">
  <mat-toolbar class='nav-bar'>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="Logo"><img src="../assets/Logo.png" alt="Logo" fxShow="true" fxHide.lt-md></span>
      <div class="SubNav" fxShow="true" fxHide.lt-md>
        <a href="/home" mat-button>Inicio</a>
        <a href="#" mat-button>Menu Item 2</a>
        <a href="#" mat-button>Menu Item 3</a>
        <a href="#" mat-button>Menu Item 4</a>
        <a href="#" mat-button>Menu Item 5</a>
        <a href="/login" mat-button>Iniciar Sesion</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a class="Logo2"><img src="../assets/Logo.png" alt="Logo" fxShow="true" fxHide.gt-sm></a>
        <!-- <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
        <a href="/home" mat-list-item>Inicio</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
        <a href="#" mat-list-item>Menu Item 5</a>
        <a href="/login" mat-list-item>Iniciar Sesion</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><br><br><br><br><br><br><br><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
